*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(161, 157, 157);
} 


#container1 {
    width: 1200px;
    margin: auto;
    max-width: 100%;
    min-height: 80vh;
    padding: 3rem;
    display: grid;
    place-items: center;
    justify-items: center;
    background-color: #ffff;
    border-radius: 20px;
    margin-top: 30px;
}

#profile_top {
    justify-content: center;
    align-items: center;
    text-align: center; 
}

#profile_top img {
    border-radius: 50%;
}

#real_time p {
    font-size: 20px;
}


#TodayDate {
    padding-left: 20px;
    font-size: 20px;
}


#About {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#About p {
    font-size: 16px;
    font-weight: bolder;
    margin-top: 20px;
}

#About a {
    text-decoration: none;
    color:#000;
}

#About a:hover{
    color: blue;
}