*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    background-color:  rgb(189, 187, 187);
    margin: auto;
    max-width: fit-content;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#container1, #real_time, #TodayDate {
    justify-content: center;
    align-items: center;
    text-align: center;
}


#container1{
    background-color: #ffff;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    width: 420px;
}

#profile_top{
    margin-top: 25%;
    padding-top: 50px;
}

#profile_top img {
    width: 45%;
    border-radius: 50%;
}

#real_time {
    display: flex;
    padding-left: 20px;
    margin-top: 10px;
}

#real_time p {
    font-size: 20px;
}


#TodayDate {
    display: flex;
    padding-left: 20px;
    margin-top: 15px;
    font-size: 20px;
}


#About {
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: 15px;
    padding-left: 20px;
}

#About p {
    font-size: 18px;
    margin-top: 20px;
}

#githubURL p{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}

#githubURL {
    padding-bottom: 50px;
}
